<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/task
		http://www.springframework.org/schema/task/spring-task.xsd">
		
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="org.h2.Driver"/>
		<property name="url" value="jdbc:h2:~/tmp/filedb"/>
	</bean>

	<bean id="ftpSession" class="eu.cisong.ftp.FTPSession" init-method="onInit" destroy-method="onDestroy">
		<property name="ftpHost" value="datafeeds.nationalrail.co.uk"/>
		<property name="ftpPort" value="21"/>
		<property name="ftpUsername" value="ftpuser"/>
		<property name="ftpPassword" value="A!t4398htw4ho4jy"/>
		<property name="proxyHost" value="proxy.host"/>
		<property name="proxyPort" value="0"/>
		<property name="proxyUsername" value="username"/>
		<property name="proxyPassword" value="proxyPassword"/>
	</bean>
	
	<bean id="ftpScheduler" class="eu.cisong.ftp.FTPScheduler" init-method="onInit" destroy-method="onDestroy">
		<property name="scanLocalDir" value="true"/>
	</bean>
	
	<bean id="fileChecker" class="eu.cisong.file.FileChecker" init-method="onInit" destroy-method="onDestroy">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<task:scheduled-tasks scheduler="mainScheduler">
		<task:scheduled ref="ftpScheduler" method="toInvoke" fixed-rate="3000"/>
	</task:scheduled-tasks>
	
	<task:scheduler id="mainScheduler" pool-size="1"/>
	
</beans>
