<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="ftpSession" class="eu.cisong.ftp.FTPSession" init-method="onInit" destroy-method="onDestroy">
		<property name="ftpHost" value="datafeeds.nationalrail.co.uk"/>
		<property name="ftpPort" value="21"/>
		<property name="ftpUsername" value="ftpuser"/>
		<property name="ftpPassword" value="A!t4398htw4ho4jy"/>
		<property name="proxyHost" value="proxy.host"/>
		<property name="proxyPort" value="0"/>
		<property name="proxyUsername" value="username"/>
		<property name="proxyPassword" value="proxyPassword"/>
	</bean>
	
</beans>
